
<mat-toolbar color="primary">
  <button mat-button [matMenuTriggerFor]="menu" >Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item >User Registration</button>
    <button mat-menu-item routerLink="/dashboard">User Details</button>
  </mat-menu>
  <span style="margin: auto;">Stepper Application</span>
  <span class="example-spacer"></span>
 
</mat-toolbar>
<h2 class="heading">USER REGISTRATION</h2>

<mat-stepper labelPosition="bottom" #stepper >
  <ng-template *ngIf="icon=='false'" matStepperIcon="edit">
    <mat-icon>done</mat-icon>
  </ng-template>
  <ng-template *ngIf="icon=='true'" matStepperIcon="done">
    <mat-icon>done</mat-icon>
  </ng-template>
  <ng-template *ngIf="icon1=='false'" matStepperIcon="edit">
    <mat-icon>done</mat-icon>
  </ng-template>
  <ng-template *ngIf="icon1=='true'" matStepperIcon="done">
    <mat-icon>done</mat-icon>
  </ng-template>
  <!-- <ng-template #basha>
    <h1>Heyyy</h1>
  </ng-template> -->
  <!-- <ng-template  matStepperIcon="done" #basha>
    <mat-icon>done</mat-icon></ng-template> -->
    <!-- <ng-template *ngIf="!icon" matStepperIcon="edit">
      <mat-icon>edit</mat-icon></ng-template>
       -->
      <!-- <ng-template matStepLabel>{{ registrationSteps[0] }} </ng-template> -->
  
            
  <form >
    <mat-step [stepControl]="firstFormGroup" #stepper1 >
      
      
      
      <form [formGroup]="firstFormGroup" >
        <ng-template matStepLabel> Fill out your personal details</ng-template>
        
        <!-- <app-personal [formGroup]="firstFormGroup" [stepper1]="stepper"></app-personal> -->
        
        
         
          <h1 class="mx-auto" style="width: 180px;">Personal details</h1>
        <div class="mx-auto" style="width: 320px;">
          <mat-form-field class="input">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First name" formControlName="firstname" required>
            <div *ngIf="hasError('firstname', 'required')" class="error-message">First Name is required</div>
            <div *ngIf="hasError('firstname', 'pattern')" class="error-message">Only alphabets and spaces are allowed</div>
          </mat-form-field> 
          <mat-form-field class="input">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="last name name" formControlName="lastname" required>
            <div *ngIf="hasError('lastname', 'required')" class="error-message">Last Name is required</div>
            <div *ngIf="hasError('lastname', 'pattern')" class="error-message">Only alphabets and spaces are allowed</div>
          </mat-form-field>
          <mat-form-field class="input">
            <mat-label>Mobile Number</mat-label>
            <input matInput placeholder="mobile number" formControlName="mobilenumber" required>
            <div *ngIf="hasError('mobilenumber', 'required')" class="error-message">Mobile Number is required</div>
            <div *ngIf="hasError('mobilenumber', 'pattern')" class="error-message">Invalid mobile number</div>
          </mat-form-field>
          
          <mat-form-field class="input">
            <mat-label>Email-id</mat-label>
            <input matInput placeholder="Email id" formControlName="emailid" required>
            <div *ngIf="hasError('emailid', 'required') && (firstFormGroup.get('emailid')?.dirty || firstFormGroup.get('emailid')?.touched)" class="error-message">Email ID is required</div>
            <div *ngIf="hasError('emailid', 'invalidEmail') && (firstFormGroup.get('emailid')?.dirty || firstFormGroup.get('emailid')?.touched)" class="error-message">Invalid email format</div>
          </mat-form-field>
          <mat-form-field class="input">
            <mat-label>Language</mat-label>
            <mat-select formControlName="language" required>
              <mat-option value="hindi">Hindi</mat-option>
              <mat-option value="english">English</mat-option>
              <mat-option value="telugu">Telugu</mat-option>
            </mat-select>
            <div *ngIf="hasError('Language', 'required')" class="error-message">Language is required</div>
          </mat-form-field>
          
          

         
        </div>
        <div style="display: flex; justify-content: flex-end; margin-top: 16px;">
          <div class="btn btn-primary " >
            
            
            <button class="btn ml-100" mat-button   (click)="step1Data()" >Next</button>
          </div>
          
        </div>
      </form>
    </mat-step>
  
    <mat-step [stepControl]="secondFormGroup" #stepper1>
      
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel> Fill out your Account details</ng-template>
        
        <!-- <app-account [formGroup]="secondFormGroup" [stepper1]="stepper"></app-account> -->
        
        
        <h1 class="mx-auto" style="width: 180px;">Account details</h1>
       
        <div class="mx-auto" style="width: 320px;">
          <mat-form-field class="input">
            <mat-label>Account Number</mat-label>
            <input matInput placeholder="account number" formControlName="accountnumber" required>
            <div *ngIf="hasError1('accountnumber', 'required') && (secondFormGroup.get('accountnumber')?.dirty || secondFormGroup.get('accountnumber')?.touched)" class="error-message">Account Number is required</div>
            <div *ngIf="hasError1('accountnumber', 'pattern') && (secondFormGroup.get('accountnumber')?.dirty || secondFormGroup.get('accountnumber')?.touched)" class="error-message">Invalid account number</div>
          </mat-form-field>
          <mat-form-field class="input">
            <mat-label>IFSC Code</mat-label>
            <input matInput placeholder="IfSC code" formControlName="ifsccode" required>
            <div *ngIf="hasError1('ifsccode', 'required') && (secondFormGroup.get('ifsccode')?.dirty || secondFormGroup.get('ifsccode')?.touched)" class="error-message">IFSC Code is required</div>
            <div *ngIf="hasError1('ifsccode', 'pattern') && (secondFormGroup.get('ifsccode')?.dirty || secondFormGroup.get('ifsccode')?.touched)" class="error-message">Invalid IFSC Code format</div>
          </mat-form-field>
          <mat-form-field class="input">
            <mat-label>Account Holder Name</mat-label>
            <input matInput placeholder="account holder name" formControlName="holdername" required>
            <div *ngIf="hasError1('holdername', 'required') && (secondFormGroup.get('holdername')?.dirty || secondFormGroup.get('holdername')?.touched)" class="error-message">Account Holder Name is required</div>
            <div *ngIf="hasError1('holdername', 'pattern') && (secondFormGroup.get('holdername')?.dirty || secondFormGroup.get('holdername')?.touched)" class="error-message">Only characters and spaces are allowed</div>
          </mat-form-field>
          
          <mat-form-field class="input">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Address" formControlName="address" required>
            <div *ngIf="hasError1('address', 'required') && (secondFormGroup.get('address')?.dirty || secondFormGroup.get('address')?.touched)" class="error-message">Address is required</div>
  
          </mat-form-field>
          <mat-form-field class="input">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY" formControlName="dateofbirth" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            
            
            <div *ngIf="secondFormGroup.get('selectedDate')?.hasError('required') && (secondFormGroup.get('selectedDate')?.dirty || secondFormGroup.get('selectedDate')?.touched)" class="error-message">Date is required</div>
          </mat-form-field>
         
          
        </div>
      
  
  
        <div style="display: flex; justify-content: flex-end; margin-top: 16px;">
          <button mat-raised-button matStepperPrevious   color="primary" >Back</button><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <button mat-raised-button  (click)="step2Data()" color="primary">Next</button>
        </div>
  
  
      
      </form>
   
    </mat-step>
  
  <mat-step >
    <ng-template matStepLabel>Done</ng-template>
    
    
      
    <h1 class="mx-auto" style="width: 180px; text-align: center; font-size: 24px; color: #00047e; margin-bottom: 20px;">Preview Details</h1>

    <div class="mx-auto" style="width: 320px; background-color: #f5f5f5; padding: 20px; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
      <h2 style="color: #00047e;">Personal Details :</h2>
      <p style="margin-bottom: 10px;"><strong>First Name:</strong> {{form?.firstname}}</p>
      <p style="margin-bottom: 10px;"><strong>Last Name:</strong> {{form?.lastname}}</p>
      <p style="margin-bottom: 10px;"><strong>Mobile Number:</strong> {{form?.mobilenumber}}</p>
      <p style="margin-bottom: 10px;"><strong>Email-Id:</strong> {{form?.emailid}}</p>
      <p style="margin-bottom: 10px;"><strong>Language:</strong> {{form?.language}}</p>
      <h2 style="color: #00047e;">Account Details :</h2>
      <p style="margin-bottom: 10px;"><strong>Account Number:</strong> {{form?.accountnumber}}</p>
      <p style="margin-bottom: 10px;"><strong>Address:</strong> {{form?.address}}</p>
      <p style="margin-bottom: 10px;"><strong>IFSC Code:</strong> {{form?.ifsccode}}</p>
      
      <p style="margin-bottom: 10px;"><strong>Holder Name:</strong> {{form?.holdername}}</p>
      <p style="margin-bottom: 10px;"><strong>Date Of Birth</strong> {{form?.dateofbirth | date:'yyyy-MM-dd'}}</p>
      
    
    </div>


<div style="display: flex; justify-content: flex-end; margin-right: 20px; margin-bottom: 30px;">
  <button mat-raised-button   color="primary" matStepperPrevious>Back</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button   color="primary" (click)="onclick()">Preview</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="stepper.reset()" color="primary">Cancel</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="onSubmit()"  color="primary"> {{ editMode ? 'Update' : 'Submit' }}</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- <button mat-raised-button   color="primary" (click)="ondash()" type="button">Dashbaord</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
    
    </div>
    
  </mat-step>
  </form>
  
</mat-stepper>